.blob {
  position: absolute;
  z-index: -2;

  &--1 {
    top: 1rem;
    left: -1rem;
  }

  &--2 {
    top: 6rem;
    right: 0.25rem;
  }

  &--3 {
    top: 22.5rem;
    left: -5rem;
  }

  @include media-laptop {
    &--1 {
      left: 15%;
      top: 2rem;
    }

    &--2 {
      right: 15%;
    }

    &--3 {
      left: 15%;
      top: unset;
      bottom: 2rem;
    }
  }
}
