.form-wrapper {
  width: auto;
  max-width: 100%;
  z-index: 3;
  position: relative;
  @include media-phone-large {
    max-width: 24rem;
    margin: 0 auto;
  }

  @include media-tablet {
    max-width: 30rem;
    margin: 2rem 0 2rem 14rem;
  }

  @include media-desktop {
    max-width: 36rem;
    margin: 3rem auto;
  }
}

.form {
  position: relative;
  @include media-tablet {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: row wrap;
    margin-top: 2rem;
  }

  @include media-desktop {
  }

  &__title {
    margin-bottom: 2rem;

    @include media-tablet {
      font-weight: 900;
      margin-bottom: 3rem;
    }
  }

  &__label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    line-height: 1;

    @include media-tablet {
      position: absolute;
      left: 0;
      top: -1.25rem;

      &[for="inputEmail"] {
        left: calc(12rem);
      }
    }
  }

  &__input {
    background: none;
    display: block;
    font-size: 1rem;
    line-height: 1;
    width: 100%;
    color: $color-text-light;
    margin-bottom: 1.75rem;
    border: none;
    padding: 0.5rem;
    box-shadow: inset 0 0 0 1px $color-text-light;

    &::placeholder {
      color: $color-text-light;
      opacity: 0.65;
      font-weight: 300;
    }

    &:focus {
      outline: 0;
      box-shadow: inset 0 0 0 2px $color-text-light;
    }

    @include media-tablet {
      position: relative;
      max-width: calc(50% - 0.5rem);

      &:first-of-type {
        max-width: 11rem;
      }

      &:nth-of-type(2) {
        margin-left: 1rem;
        max-width: unset;
        flex: 1;
      }
    }

    @include media-laptop {
      padding: 1rem;
      box-shadow: inset 0 0 0 2px $color-text-light;

      &:focus {
        box-shadow: inset 0 0 0 3px $color-text-light;
      }
    }
  }

  &__checkbox-wrapper {
    flex: 100%;
    margin-bottom: 1.75rem;
    font-size: 0.875rem;
    line-height: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  &__checkbox {
    position: absolute;
    left: 0;
    opacity: 0;

    &:checked ~ .checkmark {
      background: $color-text-light;
      box-shadow: inset 0 0 0 2px $color-text-light, inset 0 0 0 5px $color-text;
    }
  }

  &__checkbox-label {
    margin-left: 1rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    cursor: pointer;
    flex: 1 1 0%;
  }

  &__checkbox-box {
    width: 1.125rem;
    height: 1.125rem;
    background: none;
    box-shadow: inset 0 0 0 2px $color-text-light;
    order: -1;
    cursor: pointer;
  }

  &__submit {
    position: relative;
    box-shadow: 0 6px 0 -3px #63584e;
    &.button {
      padding: 1rem;
    }

    &:hover,
    &:focus {
      outline: 0;
      box-shadow: 0 9px 0 -5px #63584e;
    }

    &:after {
      position: absolute;
      content: "hi";
      display: block;
      height: 1rem;
      background: #63584e;
      width: calc(100% - 0.5rem);
      bottom: 0.25rem;
      left: 0.25rem;
    }

    @include media-laptop {
      &.button {
        width: fit-content;
        padding: 1rem 3rem;
      }
    }
  }

  &__disclaimer {
    margin-top: 1rem;
    text-align: center;
  }
}

.form-msg {
  font-weight: 500;
  margin: 1.25rem auto 0;
  text-align: center;

  &--success {
    color: $color-success;
  }
}
