.intro-section {
  padding: 3rem 1rem 4.5rem;

  &__title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.625rem;
  }

  p {
    margin-bottom: 1rem;
  }

  @include media-phone-large {
    &__title,
    p {
      max-width: 32rem;
      margin: 0 auto;
    }
    &__title {
      margin-bottom: 0.25rem;

      &::after {
        top: 0;
        height: 3rem;
      }
    }
    p {
      line-height: 1.5;
      margin-bottom: 1rem;
    }
  }
}
