// Variables

// Colors
$color-text: #333;
$color-text-light: #fbebcd;
$color-background: #fff;
$color-background-offset: #e9f0f3;
$color-background-light: #f6eacd;
$color-background-dark: $color-text;
$color-border: rgba(0, 0, 0, 0.49);
$color-accent-primary: #ffe347;
$color-accent-secondary: #fa7268;
$color-success: #1db370;

$gradient-primary: linear-gradient(
  134deg,
  rgba(255, 227, 71, 0) 0%,
  $color-accent-primary 100%
);

// Media
$media: (
  sml: 360px,
  sml-med: 500px,
  med: 768px,
  lrg: 960px,
  xlg: 1024px,
  xxlg: 1440px,
);

$container-size: 80rem;
