@import "./global/reset";
@import "./global/fonts";
@import "./global/variables";
@import "./global/mixins";
@import "./global/global";
@import "./global/typography";

@import "./components/hero";
@import "./components/blob";
@import "./components/form";
@import "./components/button";
@import "./components/intro";
@import "./components/benefits";
@import "./components/benefit";
@import "./components/form-section";
@import "./components/footer";

body {
  background: $color-background-light;
  color: $color-text;
  margin: 0;
  padding: 0;
  font-family: "GTAmerica", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.back-to-top {
  cursor: pointer;
  display: block;
  margin: 1rem auto;
  text-align: center;
  padding: 1rem 2rem;
  width: fit-content;
  background: $color-accent-primary;
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
  letter-spacing: 0.025em;

  &:hover,
  &:focus {
    outline: 0;
    background: lighten($color-accent-primary, 3%);
  }
}
