.benefits-intro {
  padding: 0 1rem;
  margin-bottom: 4rem;

  @include media-phone-large {
    max-width: 32rem;
    margin: 1rem auto 4rem;
  }
}
.benefits {
  padding: 1rem;
  background: $color-background-offset;
  padding: 2rem;
  @include media-phone-large {
    margin-bottom: 2rem;
  }
}
