@font-face {
  font-family: "GTAmerica";
  font-weight: 400;
  src: url("./images/GTAmerica-Regular.woff") format("woff2");
}
@font-face {
  font-family: "GTAmerica";
  font-weight: 700;
  src: url("./images/GTAmerica-Bold.woff2") format("woff2"),
    url("./images/GTAmerica-Bold.woff") format("woff");
}

@font-face {
  font-family: "GTAmerica";
  font-weight: 900;
  src: url("./images/GTAmerica-ExpandedBold.woff") format("woff"),
    url("./images/GTAmerica-ExpandedBold.woff2") format("woff2");
}
